web/WEB-INF/wsdl/localhost_8080/ContaWS/ContaWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservice.carros.loja/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webservice.carros.loja/" name="ContaWS">
<types>
<xsd:schema>
<xsd:import namespace="http://webservice.carros.loja/" schemaLocation="http://localhost:8080/ContaWS/ContaWS?xsd=1"/>
</xsd:schema>
</types>
<message name="realizarLogin">
<part name="parameters" element="tns:realizarLogin"/>
</message>
<message name="realizarLoginResponse">
<part name="parameters" element="tns:realizarLoginResponse"/>
</message>
<message name="consultarContas">
<part name="parameters" element="tns:consultarContas"/>
</message>
<message name="consultarContasResponse">
<part name="parameters" element="tns:consultarContasResponse"/>
</message>
<message name="atualizarConta">
<part name="parameters" element="tns:atualizarConta"/>
</message>
<message name="atualizarContaResponse">
<part name="parameters" element="tns:atualizarContaResponse"/>
</message>
<message name="Exception">
<part name="fault" element="tns:Exception"/>
</message>
<message name="salvarConta">
<part name="parameters" element="tns:salvarConta"/>
</message>
<message name="salvarContaResponse">
<part name="parameters" element="tns:salvarContaResponse"/>
</message>
<portType name="ContaWS">
<operation name="realizarLogin">
<input wsam:Action="http://webservice.carros.loja/ContaWS/realizarLoginRequest" message="tns:realizarLogin"/>
<output wsam:Action="http://webservice.carros.loja/ContaWS/realizarLoginResponse" message="tns:realizarLoginResponse"/>
</operation>
<operation name="consultarContas">
<input wsam:Action="http://webservice.carros.loja/ContaWS/consultarContasRequest" message="tns:consultarContas"/>
<output wsam:Action="http://webservice.carros.loja/ContaWS/consultarContasResponse" message="tns:consultarContasResponse"/>
</operation>
<operation name="atualizarConta">
<input wsam:Action="http://webservice.carros.loja/ContaWS/atualizarContaRequest" message="tns:atualizarConta"/>
<output wsam:Action="http://webservice.carros.loja/ContaWS/atualizarContaResponse" message="tns:atualizarContaResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://webservice.carros.loja/ContaWS/atualizarConta/Fault/Exception"/>
</operation>
<operation name="salvarConta">
<input wsam:Action="http://webservice.carros.loja/ContaWS/salvarContaRequest" message="tns:salvarConta"/>
<output wsam:Action="http://webservice.carros.loja/ContaWS/salvarContaResponse" message="tns:salvarContaResponse"/>
</operation>
</portType>
<binding name="ContaWSPortBinding" type="tns:ContaWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="realizarLogin">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="consultarContas">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="atualizarConta">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="salvarConta">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ContaWS">
<port name="ContaWSPort" binding="tns:ContaWSPortBinding">
<soap:address location="http://localhost:8080/ContaWS/ContaWS"/>
</port>
</service>
</definitions>