web/WEB-INF/wsdl/localhost_8080/ClassificacaoWS/ClassificacaoWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservice.carros.loja/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webservice.carros.loja/" name="ClassificacaoWS">
<types>
<xsd:schema>
<xsd:import namespace="http://webservice.carros.loja/" schemaLocation="http://localhost:8080/ClassificacaoWS/ClassificacaoWS?xsd=1"/>
</xsd:schema>
</types>
<message name="consultarClassificacoes">
<part name="parameters" element="tns:consultarClassificacoes"/>
</message>
<message name="consultarClassificacoesResponse">
<part name="parameters" element="tns:consultarClassificacoesResponse"/>
</message>
<message name="consultarClassificacao">
<part name="parameters" element="tns:consultarClassificacao"/>
</message>
<message name="consultarClassificacaoResponse">
<part name="parameters" element="tns:consultarClassificacaoResponse"/>
</message>
<message name="salvarClassificacao">
<part name="parameters" element="tns:salvarClassificacao"/>
</message>
<message name="salvarClassificacaoResponse">
<part name="parameters" element="tns:salvarClassificacaoResponse"/>
</message>
<message name="atualizarMarca">
<part name="parameters" element="tns:atualizarMarca"/>
</message>
<message name="atualizarMarcaResponse">
<part name="parameters" element="tns:atualizarMarcaResponse"/>
</message>
<message name="Exception">
<part name="fault" element="tns:Exception"/>
</message>
<portType name="ClassificacaoWS">
<operation name="consultarClassificacoes">
<input wsam:Action="http://webservice.carros.loja/ClassificacaoWS/consultarClassificacoesRequest" message="tns:consultarClassificacoes"/>
<output wsam:Action="http://webservice.carros.loja/ClassificacaoWS/consultarClassificacoesResponse" message="tns:consultarClassificacoesResponse"/>
</operation>
<operation name="consultarClassificacao">
<input wsam:Action="http://webservice.carros.loja/ClassificacaoWS/consultarClassificacaoRequest" message="tns:consultarClassificacao"/>
<output wsam:Action="http://webservice.carros.loja/ClassificacaoWS/consultarClassificacaoResponse" message="tns:consultarClassificacaoResponse"/>
</operation>
<operation name="salvarClassificacao">
<input wsam:Action="http://webservice.carros.loja/ClassificacaoWS/salvarClassificacaoRequest" message="tns:salvarClassificacao"/>
<output wsam:Action="http://webservice.carros.loja/ClassificacaoWS/salvarClassificacaoResponse" message="tns:salvarClassificacaoResponse"/>
</operation>
<operation name="atualizarMarca">
<input wsam:Action="http://webservice.carros.loja/ClassificacaoWS/atualizarMarcaRequest" message="tns:atualizarMarca"/>
<output wsam:Action="http://webservice.carros.loja/ClassificacaoWS/atualizarMarcaResponse" message="tns:atualizarMarcaResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://webservice.carros.loja/ClassificacaoWS/atualizarMarca/Fault/Exception"/>
</operation>
</portType>
<binding name="ClassificacaoWSPortBinding" type="tns:ClassificacaoWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="consultarClassificacoes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="consultarClassificacao">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="salvarClassificacao">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="atualizarMarca">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
</binding>
<service name="ClassificacaoWS">
<port name="ClassificacaoWSPort" binding="tns:ClassificacaoWSPortBinding">
<soap:address location="http://localhost:8080/ClassificacaoWS/ClassificacaoWS"/>
</port>
</service>
</definitions>