web/WEB-INF/wsdl/localhost_8080/MarcaWS/MarcaWS.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://webservice.carros.loja/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://webservice.carros.loja/">

<xs:element name="Exception" type="tns:Exception"/>

<xs:element name="atualizarMarca" type="tns:atualizarMarca"/>

<xs:element name="atualizarMarcaResponse" type="tns:atualizarMarcaResponse"/>

<xs:element name="consultarMarca" type="tns:consultarMarca"/>

<xs:element name="consultarMarcaResponse" type="tns:consultarMarcaResponse"/>

<xs:element name="consultarMarcas" type="tns:consultarMarcas"/>

<xs:element name="consultarMarcasResponse" type="tns:consultarMarcasResponse"/>

<xs:element name="consultarPorId" type="tns:consultarPorId"/>

<xs:element name="consultarPorIdResponse" type="tns:consultarPorIdResponse"/>

<xs:element name="salvarMarca" type="tns:salvarMarca"/>

<xs:element name="salvarMarcaResponse" type="tns:salvarMarcaResponse"/>

<xs:complexType name="atualizarMarca">
<xs:sequence>
<xs:element name="id" type="xs:string" minOccurs="0"/>
<xs:element name="nome" type="xs:string" minOccurs="0"/>
<xs:element name="imagem" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="atualizarMarcaResponse">
<xs:sequence>
<xs:element name="return" type="tns:marca" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="marca">
<xs:sequence>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="imagem" type="xs:string" minOccurs="0"/>
<xs:element name="nome" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Exception">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="consultarMarca">
<xs:sequence>
<xs:element name="nome" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="consultarMarcaResponse">
<xs:sequence>
<xs:element name="return" type="tns:marca" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="consultarPorId">
<xs:sequence>
<xs:element name="id" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="consultarPorIdResponse">
<xs:sequence>
<xs:element name="return" type="tns:marca" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="consultarMarcas">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="consultarMarcasResponse">
<xs:sequence>
<xs:element name="return" type="tns:marca" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="salvarMarca">
<xs:sequence>
<xs:element name="nome" type="xs:string" minOccurs="0"/>
<xs:element name="imagem" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="salvarMarcaResponse">
<xs:sequence>
<xs:element name="return" type="tns:marca" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>