src/conf/xml-resources/web-service-references/CarroWS/wsdl/localhost_8080/CarroWS/CarroWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservice.carros.loja/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webservice.carros.loja/" name="CarroWS">
<types>
<xsd:schema>
<xsd:import namespace="http://webservice.carros.loja/" schemaLocation="http://localhost:8080/CarroWS/CarroWS?xsd=1"/>
</xsd:schema>
</types>
<message name="consultarPorId">
<part name="parameters" element="tns:consultarPorId"/>
</message>
<message name="consultarPorIdResponse">
<part name="parameters" element="tns:consultarPorIdResponse"/>
</message>
<message name="salvarCarro">
<part name="parameters" element="tns:salvarCarro"/>
</message>
<message name="salvarCarroResponse">
<part name="parameters" element="tns:salvarCarroResponse"/>
</message>
<message name="consultarCarros">
<part name="parameters" element="tns:consultarCarros"/>
</message>
<message name="consultarCarrosResponse">
<part name="parameters" element="tns:consultarCarrosResponse"/>
</message>
<message name="consultarOfertas">
<part name="parameters" element="tns:consultarOfertas"/>
</message>
<message name="consultarOfertasResponse">
<part name="parameters" element="tns:consultarOfertasResponse"/>
</message>
<message name="consultarPorClass">
<part name="parameters" element="tns:consultarPorClass"/>
</message>
<message name="consultarPorClassResponse">
<part name="parameters" element="tns:consultarPorClassResponse"/>
</message>
<message name="consultarPorMarcaEClass">
<part name="parameters" element="tns:consultarPorMarcaEClass"/>
</message>
<message name="consultarPorMarcaEClassResponse">
<part name="parameters" element="tns:consultarPorMarcaEClassResponse"/>
</message>
<message name="consultarPorMarca">
<part name="parameters" element="tns:consultarPorMarca"/>
</message>
<message name="consultarPorMarcaResponse">
<part name="parameters" element="tns:consultarPorMarcaResponse"/>
</message>
<portType name="CarroWS">
<operation name="consultarPorId">
<input wsam:Action="http://webservice.carros.loja/CarroWS/consultarPorIdRequest" message="tns:consultarPorId"/>
<output wsam:Action="http://webservice.carros.loja/CarroWS/consultarPorIdResponse" message="tns:consultarPorIdResponse"/>
</operation>
<operation name="salvarCarro">
<input wsam:Action="http://webservice.carros.loja/CarroWS/salvarCarroRequest" message="tns:salvarCarro"/>
<output wsam:Action="http://webservice.carros.loja/CarroWS/salvarCarroResponse" message="tns:salvarCarroResponse"/>
</operation>
<operation name="consultarCarros">
<input wsam:Action="http://webservice.carros.loja/CarroWS/consultarCarrosRequest" message="tns:consultarCarros"/>
<output wsam:Action="http://webservice.carros.loja/CarroWS/consultarCarrosResponse" message="tns:consultarCarrosResponse"/>
</operation>
<operation name="consultarOfertas">
<input wsam:Action="http://webservice.carros.loja/CarroWS/consultarOfertasRequest" message="tns:consultarOfertas"/>
<output wsam:Action="http://webservice.carros.loja/CarroWS/consultarOfertasResponse" message="tns:consultarOfertasResponse"/>
</operation>
<operation name="consultarPorClass">
<input wsam:Action="http://webservice.carros.loja/CarroWS/consultarPorClassRequest" message="tns:consultarPorClass"/>
<output wsam:Action="http://webservice.carros.loja/CarroWS/consultarPorClassResponse" message="tns:consultarPorClassResponse"/>
</operation>
<operation name="consultarPorMarcaEClass">
<input wsam:Action="http://webservice.carros.loja/CarroWS/consultarPorMarcaEClassRequest" message="tns:consultarPorMarcaEClass"/>
<output wsam:Action="http://webservice.carros.loja/CarroWS/consultarPorMarcaEClassResponse" message="tns:consultarPorMarcaEClassResponse"/>
</operation>
<operation name="consultarPorMarca">
<input wsam:Action="http://webservice.carros.loja/CarroWS/consultarPorMarcaRequest" message="tns:consultarPorMarca"/>
<output wsam:Action="http://webservice.carros.loja/CarroWS/consultarPorMarcaResponse" message="tns:consultarPorMarcaResponse"/>
</operation>
</portType>
<binding name="CarroWSPortBinding" type="tns:CarroWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="consultarPorId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="salvarCarro">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="consultarCarros">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="consultarOfertas">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="consultarPorClass">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="consultarPorMarcaEClass">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="consultarPorMarca">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="CarroWS">
<port name="CarroWSPort" binding="tns:CarroWSPortBinding">
<soap:address location="http://localhost:8080/CarroWS/CarroWS"/>
</port>
</service>
</definitions>