src/conf/xml-resources/web-service-references/ClassificacaoWS/wsdl/localhost_8080/ClassificacaoWS/ClassificacaoWS.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://webservice.carros.loja/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://webservice.carros.loja/">

<xs:element name="Exception" type="tns:Exception"/>

<xs:element name="atualizarMarca" type="tns:atualizarMarca"/>

<xs:element name="atualizarMarcaResponse" type="tns:atualizarMarcaResponse"/>

<xs:element name="consultarClassificacao" type="tns:consultarClassificacao"/>

<xs:element name="consultarClassificacaoResponse" type="tns:consultarClassificacaoResponse"/>

<xs:element name="consultarClassificacoes" type="tns:consultarClassificacoes"/>

<xs:element name="consultarClassificacoesResponse" type="tns:consultarClassificacoesResponse"/>

<xs:element name="salvarClassificacao" type="tns:salvarClassificacao"/>

<xs:element name="salvarClassificacaoResponse" type="tns:salvarClassificacaoResponse"/>

<xs:complexType name="salvarClassificacao">
<xs:sequence>
<xs:element name="nome" type="xs:string" minOccurs="0"/>
<xs:element name="imagem" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="salvarClassificacaoResponse">
<xs:sequence>
<xs:element name="return" type="tns:classificacao" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="classificacao">
<xs:sequence>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="imagem" type="xs:string" minOccurs="0"/>
<xs:element name="nome" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="consultarClassificacao">
<xs:sequence>
<xs:element name="nome" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="consultarClassificacaoResponse">
<xs:sequence>
<xs:element name="return" type="tns:classificacao" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="consultarClassificacoes">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="consultarClassificacoesResponse">
<xs:sequence>
<xs:element name="return" type="tns:classificacao" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="atualizarMarca">
<xs:sequence>
<xs:element name="id" type="xs:string" minOccurs="0"/>
<xs:element name="nome" type="xs:string" minOccurs="0"/>
<xs:element name="imagem" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="atualizarMarcaResponse">
<xs:sequence>
<xs:element name="return" type="tns:marca" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="marca">
<xs:sequence>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="imagem" type="xs:string" minOccurs="0"/>
<xs:element name="nome" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Exception">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>