web/WEB-INF/wsdl/desktop-c73t93j_8181/MarcaWS/MarcaWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservice.carros.loja/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webservice.carros.loja/" name="MarcaWS">
<types>
<xsd:schema>
<xsd:import namespace="http://webservice.carros.loja/" schemaLocation="https://desktop-c73t93j:8181/MarcaWS/MarcaWS?xsd=1"/>
</xsd:schema>
</types>
<message name="salvarMarca">
<part name="parameters" element="tns:salvarMarca"/>
</message>
<message name="salvarMarcaResponse">
<part name="parameters" element="tns:salvarMarcaResponse"/>
</message>
<message name="atualizarMarca">
<part name="parameters" element="tns:atualizarMarca"/>
</message>
<message name="atualizarMarcaResponse">
<part name="parameters" element="tns:atualizarMarcaResponse"/>
</message>
<message name="Exception">
<part name="fault" element="tns:Exception"/>
</message>
<message name="consultarMarcas">
<part name="parameters" element="tns:consultarMarcas"/>
</message>
<message name="consultarMarcasResponse">
<part name="parameters" element="tns:consultarMarcasResponse"/>
</message>
<message name="consultarPorId">
<part name="parameters" element="tns:consultarPorId"/>
</message>
<message name="consultarPorIdResponse">
<part name="parameters" element="tns:consultarPorIdResponse"/>
</message>
<portType name="MarcaWS">
<operation name="salvarMarca">
<input wsam:Action="http://webservice.carros.loja/MarcaWS/salvarMarcaRequest" message="tns:salvarMarca"/>
<output wsam:Action="http://webservice.carros.loja/MarcaWS/salvarMarcaResponse" message="tns:salvarMarcaResponse"/>
</operation>
<operation name="atualizarMarca">
<input wsam:Action="http://webservice.carros.loja/MarcaWS/atualizarMarcaRequest" message="tns:atualizarMarca"/>
<output wsam:Action="http://webservice.carros.loja/MarcaWS/atualizarMarcaResponse" message="tns:atualizarMarcaResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://webservice.carros.loja/MarcaWS/atualizarMarca/Fault/Exception"/>
</operation>
<operation name="consultarMarcas">
<input wsam:Action="http://webservice.carros.loja/MarcaWS/consultarMarcasRequest" message="tns:consultarMarcas"/>
<output wsam:Action="http://webservice.carros.loja/MarcaWS/consultarMarcasResponse" message="tns:consultarMarcasResponse"/>
</operation>
<operation name="consultarPorId">
<input wsam:Action="http://webservice.carros.loja/MarcaWS/consultarPorIdRequest" message="tns:consultarPorId"/>
<output wsam:Action="http://webservice.carros.loja/MarcaWS/consultarPorIdResponse" message="tns:consultarPorIdResponse"/>
</operation>
</portType>
<binding name="MarcaWSPortBinding" type="tns:MarcaWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="salvarMarca">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="atualizarMarca">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="consultarMarcas">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="consultarPorId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="MarcaWS">
<port name="MarcaWSPort" binding="tns:MarcaWSPortBinding">
<soap:address location="https://desktop-c73t93j:8181/MarcaWS/MarcaWS"/>
</port>
</service>
</definitions>