src/conf/xml-resources/web-service-references/AluguelWS/wsdl/localhost_8080/AluguelWS/AluguelWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservice.carros.loja/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webservice.carros.loja/" name="AluguelWS">
<types>
<xsd:schema>
<xsd:import namespace="http://webservice.carros.loja/" schemaLocation="http://localhost:8080/AluguelWS/AluguelWS?xsd=1"/>
</xsd:schema>
</types>
<message name="salvarAluguel">
<part name="parameters" element="tns:salvarAluguel"/>
</message>
<message name="salvarAluguelResponse">
<part name="parameters" element="tns:salvarAluguelResponse"/>
</message>
<message name="consultarPedidos">
<part name="parameters" element="tns:consultarPedidos"/>
</message>
<message name="consultarPedidosResponse">
<part name="parameters" element="tns:consultarPedidosResponse"/>
</message>
<message name="excluirPedido">
<part name="parameters" element="tns:excluirPedido"/>
</message>
<message name="excluirPedidoResponse">
<part name="parameters" element="tns:excluirPedidoResponse"/>
</message>
<portType name="AluguelWS">
<operation name="salvarAluguel">
<input wsam:Action="http://webservice.carros.loja/AluguelWS/salvarAluguelRequest" message="tns:salvarAluguel"/>
<output wsam:Action="http://webservice.carros.loja/AluguelWS/salvarAluguelResponse" message="tns:salvarAluguelResponse"/>
</operation>
<operation name="consultarPedidos">
<input wsam:Action="http://webservice.carros.loja/AluguelWS/consultarPedidosRequest" message="tns:consultarPedidos"/>
<output wsam:Action="http://webservice.carros.loja/AluguelWS/consultarPedidosResponse" message="tns:consultarPedidosResponse"/>
</operation>
<operation name="excluirPedido">
<input wsam:Action="http://webservice.carros.loja/AluguelWS/excluirPedidoRequest" message="tns:excluirPedido"/>
<output wsam:Action="http://webservice.carros.loja/AluguelWS/excluirPedidoResponse" message="tns:excluirPedidoResponse"/>
</operation>
</portType>
<binding name="AluguelWSPortBinding" type="tns:AluguelWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="salvarAluguel">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="consultarPedidos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="excluirPedido">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="AluguelWS">
<port name="AluguelWSPort" binding="tns:AluguelWSPortBinding">
<soap:address location="http://localhost:8080/AluguelWS/AluguelWS"/>
</port>
</service>
</definitions>