web/WEB-INF/wsdl/localhost_8080/LojaWS/LojaWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservice.carros.loja/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webservice.carros.loja/" name="LojaWS">
<types>
<xsd:schema>
<xsd:import namespace="http://webservice.carros.loja/" schemaLocation="http://localhost:8080/LojaWS/LojaWS?xsd=1"/>
</xsd:schema>
</types>
<message name="salvarLoja">
<part name="parameters" element="tns:salvarLoja"/>
</message>
<message name="salvarLojaResponse">
<part name="parameters" element="tns:salvarLojaResponse"/>
</message>
<message name="consultarLojas">
<part name="parameters" element="tns:consultarLojas"/>
</message>
<message name="consultarLojasResponse">
<part name="parameters" element="tns:consultarLojasResponse"/>
</message>
<message name="atualizarLoja">
<part name="parameters" element="tns:atualizarLoja"/>
</message>
<message name="atualizarLojaResponse">
<part name="parameters" element="tns:atualizarLojaResponse"/>
</message>
<message name="Exception">
<part name="fault" element="tns:Exception"/>
</message>
<portType name="LojaWS">
<operation name="salvarLoja">
<input wsam:Action="http://webservice.carros.loja/LojaWS/salvarLojaRequest" message="tns:salvarLoja"/>
<output wsam:Action="http://webservice.carros.loja/LojaWS/salvarLojaResponse" message="tns:salvarLojaResponse"/>
</operation>
<operation name="consultarLojas">
<input wsam:Action="http://webservice.carros.loja/LojaWS/consultarLojasRequest" message="tns:consultarLojas"/>
<output wsam:Action="http://webservice.carros.loja/LojaWS/consultarLojasResponse" message="tns:consultarLojasResponse"/>
</operation>
<operation name="atualizarLoja">
<input wsam:Action="http://webservice.carros.loja/LojaWS/atualizarLojaRequest" message="tns:atualizarLoja"/>
<output wsam:Action="http://webservice.carros.loja/LojaWS/atualizarLojaResponse" message="tns:atualizarLojaResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://webservice.carros.loja/LojaWS/atualizarLoja/Fault/Exception"/>
</operation>
</portType>
<binding name="LojaWSPortBinding" type="tns:LojaWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="salvarLoja">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="consultarLojas">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="atualizarLoja">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
</binding>
<service name="LojaWS">
<port name="LojaWSPort" binding="tns:LojaWSPortBinding">
<soap:address location="http://localhost:8080/LojaWS/LojaWS"/>
</port>
</service>
</definitions>